{{define "button"}}
{{$baseClasses1 := "text-white px-5 py-3 text-lg rounded-md bg-blue-500 font-bold "}}
{{$baseClasses2 := "enabled:active:bg-blue-600 cursor-pointer"}}
{{$baseClasses := printf "%s %s" $baseClasses1 $baseClasses2}}
{{if .Href}}
<a href="{{.Href}}" class="{{$baseClasses}} {{.Class}} inline-block">
    {{.Text}}
</a>
{{else}}
<button type="{{.Type}}"
    class="{{$baseClasses}} {{.Class}} group disabled:opacity-50 disabled:cursor-not-allowed relative aria-busy:text-transparent">
    {{.Text}}
    {{$spinnerClassBase := "size-9 group-aria-busy:block hidden fill-white stroke-white"}}
    {{$spinnerClassPos := "absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"}}
    {{$spinnerClass := printf "%s %s" $spinnerClassBase $spinnerClassPos}}
    {{template "spinner" (dict "Class" $spinnerClass)}}
</button>
{{end}}
{{end}}