{{define "button"}}
{{$baseClasses := "text-white px-5 py-3 text-lg rounded-md bg-blue-500 font-bold active:bg-blue-600 cursor-pointer"}}
{{if .Href}}
<a href="{{.Href}}" class="{{$baseClasses}} {{.Class}} inline-block">
    {{.Text}}
</a>
{{else}}
<button type="{{.Type}}" class="{{$baseClasses}} {{.Class}} group disabled:opacity-50 disabled:cursor-not-allowed"
    aria-busy="false">
    <span class="group-aria-busy:opacity-0">
        {{.Text}}
    </span>
    <span class="group-aria-busy:block hidden absolute inset-0 w-full h-full flex items-center justify-center">
        {{template "spinner" (dict "Class" "size-9")}}
    </span>
</button>
{{end}}
{{end}}