{{define "feedSwiper"}}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
<swiper-container class="w-full flex-1 overflow-hidden" slides-per-view="1" direction="vertical" id="feed-swiper">
	{{template "feedSwiperSlides" .}}
	<swiper-slide id="feed-swiper-slide-last">
		<div class="w-full h-full bg-neutral-800 animate-pulse"></div>
	</swiper-slide>
</swiper-container>

<script>
	const loadNextURL = "{{.LoadNextURL}}?no-cache=true";
	const slideChangedURL = "{{.SlideChangedURL}}?no-cache=true";
	const swiper = document.getElementById("feed-swiper");
	const swiperSlideLast = document.getElementById("feed-swiper-slide-last");
	const preloadThreshold = 4;

	const take = (o, e) => new Promise(r => o.addEventListener(e, r, { once: true }))

	async function workerLoadNext() {
		while (true) {
			await take(swiper, "swiperslidechange");
			if (swiper.swiper.activeIndex < swiper.swiper.slides.length - preloadThreshold) continue;
			const [html, _] = await Promise.all([
				fetch(loadNextURL).then(r => r.text()),
				take(swiper, "swiperslidechangetransitionend")
			])
			swiperSlideLast.insertAdjacentHTML("beforebegin", html);
		}
	}

	async function workerSaveFeedIndex() {
		while (true) {
			await take(swiper, "swiperslidechange");
			const url = new URL(slideChangedURL, window.location.origin);
			url.searchParams.set("feedIndex", swiper.swiper.activeIndex.toString());
			await fetch(url, { method: "POST" });
		}
	}

	workerLoadNext();
	workerSaveFeedIndex();
</script>
{{end}}