{{define "feedSwiper"}}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
<swiper-container id="feed-swiper" class="w-full flex-1 overflow-hidden" slides-per-view="1" direction="vertical">
	{{template "feedSwiperSlides" .}}
	<swiper-slide id="feed-swiper-slide-last">
		<div class="w-full h-full bg-neutral-800 animate-pulse"></div>
	</swiper-slide>
</swiper-container>
<script>
	const LOAD_NEXT_URL = "{{.LoadNextURL}}";
	const SLIDE_CHANGED_URL = "{{.SlideChangedURL}}";
</script>
<script src="feedSwiper.js"></script>
{{end}}