{{define "feedSwiper"}}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
<swiper-container id="feed-swiper" class="w-full flex-1 overflow-hidden" slides-per-view="1" direction="vertical">
	{{template "feedSwiperSlides" .}}
	<swiper-slide id="feed-swiper-slide-last">
		<div class="w-full h-full bg-neutral-800 animate-pulse"></div>
	</swiper-slide>
</swiper-container>

<script>
	const LOAD_NEXT_URL = "{{.LoadNextURL}}";
	const SLIDE_CHANGED_URL = "{{.SlideChangedURL}}";
	const PRELOAD_THRESHOLD = 3;
	document.addEventListener("DOMContentLoaded", () => {
		const swiper = document.getElementById("feed-swiper");
		const swiperSlideLast = document.getElementById("feed-swiper-slide-last");
		swiper.addEventListener("swiperslidechange", async (event) => {
			const shouldLoadNext = swiper.swiper.activeIndex >= swiper.swiper.slides.length - PRELOAD_THRESHOLD;
			if (shouldLoadNext) {
				const html = await fetch(LOAD_NEXT_URL).then(r => r.text());
				swiperSlideLast.insertAdjacentHTML("beforebegin", html);
			}
			const feedIndex = parseInt(event?.detail?.[0]?.slides?.[event?.detail?.[0]?.activeIndex]?.getAttribute?.('data-feed-index'), 10)
			await fetch(`${SLIDE_CHANGED_URL}&feedIndex=${feedIndex}`, { method: "POST" });
		});
	});
</script>
{{end}}