{{define "bottomButtons"}}
<div class="flex w-full justify-around">
	{{range .BottomButtons.Items}}
	{{if not .Active}}
	<link rel="prefetch" href="{{.URL}}" as="document" crossorigin="anonymous">
	{{end}}
	<a href="{{.URL}}" onmousedown="window.location.href='{{.URL}}'"
		class="flex h-20 flex-1 gap-1 cursor-pointer flex-col items-center justify-center font-bold {{if .Active}}font-bold text-blue-500{{else}}text-neutral-200{{end}}">
		{{if .IconHTML}}
		<span class="text-2xl">{{.IconHTML | safeHTML}}</span>
		{{end}}
		<span class="text-sm">{{.Label}}</span>
	</a>
	{{end}}
</div>
{{end}}