{{define "feedSwiper"}}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
<div class="flex w-full flex-1 flex-col items-center justify-start overflow-x-hidden overflow-y-auto">
	<swiper-container slides-per-view="1" class="w-full h-full" direction="vertical" id="feed-swiper">
		{{template "feedSwiperSlides" .}}
		<swiper-slide id="feed-swiper-last-slide">
			<div class="w-full h-full bg-neutral-800 animate-pulse"></div>
		</swiper-slide>
	</swiper-container>
</div>
<script>
	const loadNextURL = "{{.LoadNextURL}}";
	const feedSwiper = document.getElementById("feed-swiper");
	const feedSwiperLastSlide = document.getElementById("feed-swiper-last-slide");
	feedSwiper.addEventListener("swiperslidechange", () => {
		if (feedSwiper.swiper.activeIndex >= feedSwiper.swiper.slides.length - 4) {
			fetch(loadNextURL).then(res => res.text()).then(html => feedSwiperLastSlide.insertAdjacentHTML("beforebegin", html));
		}
	});
</script>
{{end}}